<div class="container">
  <%= back_button(presentation_survey_path(@survey)) %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <h1>Edit Question for <%= @survey.title %></h1>
      <%= render partial: 'shared/question_form', locals: { question: @question, submit_path: presentation_survey_question_path(@presentation, @survey, @question) } %>
    </div>
  </div>
</div>
