<h1>Attendee</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th><%= feedback_header(current_user) %></th>
  </tr>
  <tr>
    <td> Not currently signed up for any presentations</td>
    <td> N/A</td>
    <td> N/A</td>
    <td> N/A</td>
    <td> N/A</td>
  </tr>
</table>
