<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <h1>Edit Presentation</h1>
      <%= render 'form', presentation: @presentation %>
    </div>
  </div>
</div>
