<h1>Presentations</h1>

<%= admin_table %>

<%= general_user_table(role: :presenter, title: "As Presenter", feedback_message: "See Feedback") %>

<%= general_user_table(role: :attendee, title: "As Attendee", feedback_message: "Provide Feedback") %>
