<div class="container">



  <h1 class="text-center">Excella Presentations</h1>


    <%= admin_table(current_user) %>

    <%= general_user_table(
      user: current_user,
      role: :presenter,
      title: "As Presenter",
      feedback_message: "See Feedback"
    ) %>

    <%= general_user_table(
      user: current_user,
      role: :attendee,
      title: "As Attendee",
      feedback_message: "Provide Feedback"
    ) %>

</div>
<!-- /.container -->
