<h1>Presentations</h1>
<div>
<% @presentations.each do |pre| %>
  <div>
    <h3><%= pre.title %></h3>
    <p><%= pre.date %></p>
    <p><%= pre.location %></p>
    <p><%= pre.description %></p>
  </div>
<% end %>
</div>
