<h1>Presentations</h1>

<%= admin_table(current_user) %>

<%= no_presentations(@presentations)%>
<%= general_user_table(
  user: current_user,
  role: :presenter,
  title: "As Presenter",
  feedback_message: "See Feedback"
) %>

<%= general_user_table(
  user: current_user,
  role: :attendee,
  title: "As Attendee",
  feedback_message: "Provide Feedback"
) %>
