<h1>NO PRESENTATIONS</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th><%= feedback_header(current_user) %></th>
  </tr>
