<div class="form-group">
  <%= label_tag(:response, response.question.prompt) %>
  <%= text_area_tag("responses[question_id][#{response.question.id}]", display_text_response(response), class: 'form-control') %>
</div>
