<div class="form-group">
  <%= label_tag(:response, response.question.prompt) %>
  <%= hidden_field_tag('responses[][question_id]', response.question.id) %>
  <%= text_area_tag('responses[][value]', nil, class: 'form-control') %>
</div>
