<h1>Feedback for <%= @presentation.title %></h1>

<%= form_tag presentation_responses_path(@presentation), method: :post do %>
  <% @responses.each do |response| %>
    <%= fields_for 'responses[]', response do |response_form| %>
      <%- display_question(response, response_form) %>
    <% end %>
  <% end %>
<%= submit_tag("Submit") %>
<% end %>
