<h1>Feedback for <%= @presentation.title %></h1>

<!--TODO: extract into helper-->

<%= form_tag(presentation_responses_path(@presentation), method: 'post') do |f| %>
  <% @responses.each do |response| %>
    <%= display_question(response) %>
  <% end %>
<%= submit_tag("Submit") %>
<% end %>
