<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="jumbotron">
        <h1>Excella Feedback</h1>
        <p class="lead">
          Feedback is an internal application that allows new Excella hires to grade and
          provide feedback on Onboarding presentations - the goal is to create a feedback mechanism
          that allows organizers to improve their content for future classes. As we all know,
          you can't improve what you don't measure!
        </p>
        <p><%= link_to "View Presentations", presentations_path, class: "btn lg btn-info btn-lg" %></p>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
