//
// Variables
//

// Excella Colors
$primary-navy: #002D62;
$primary-red: #E31837;
$secondary-green: #808A02;
$secondary-blue: #5C86C0;
$secondary-orange: #DC5C29;
$secondary-yellow: #F9B800;

// Other Colors
$text-gray: #404040;
$flat-red: #A94442;

// Step Percentage
$step: 16%;

// Spacing
$small-space: 1em;
$medium-space: 1.83em;
$large-space: 2.6em;

//
// General
//
body {
  margin-top: 50px; // Height of navbar
  padding-top: $small-space;
  background: #fbfbfc;
  color: $text-gray;
  font-family: "Lato", "Helvetica Neue", sans-serif;

  .content {
    min-height: 100vh;
  }

  a {
    color: $secondary-blue;

    &:hover {
      color: darken($secondary-blue, $step);
    }
  }
}

.spaceSmRight {
  padding-right: $small-space;
}

.spaceMdBtm {
  padding-bottom: $medium-space;
}

.error-list li:before {
    content: "\e174";
    font-family: 'Glyphicons Halflings';
    font-size: 1em;
    color: $flat-red;
    padding-right: .3em;
}

.error-list {
  list-style-type: none;
}

//
// Bootstrap Overrides
//
.btn-primary {
  background: $secondary-blue;
  border-color: $secondary-blue;

  &:hover {
    background: darken($secondary-blue, $step/2);
    border-color: darken($secondary-blue, $step);
  }
}

.btn-warning {
  background: $secondary-yellow;
  border-color: $secondary-yellow;

  &:hover {
    background: darken($secondary-yellow, $step/2);
    border-color: darken($secondary-yellow, $step);
  }
}

//
// Navigation
//
.navbar {
  border: 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;

  .navbar-brand {
    padding: 0 15px;

    img {
      height: 50px;
    }
  }

  li {
    a {
      color: $secondary-blue;
      transition: 0.25s;

      &:hover {
        color: darken($secondary-blue, 16%);
        // color: #fafafa;
      }
    }
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .navbar-toggle {
    background: $secondary-blue;

    .icon-bar {
      background: #FFFFFF;
    }
  }
}

//
// Footer
//
.footer {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: $large-space;
  background: $text-gray;
  color: #ffffff;

  a {
    color: #ffffff !important;
  }
}

// Tables
.table tbody tr td {
  vertical-align: middle;

  a:not(:last-child) {
    margin-right: 8px;
  }
}


// Presentations
form {
  textarea {
    resize: vertical;
  }
}
.admin-link a {
  text-decoration: none;
  color: $secondary-orange;

  &:hover {
    color: lighten($secondary-orange, 12%);
  }
}

.modal-body {
  max-height: 80vh;
  overflow: scroll;
}

.admin-options .btn:not(:last-child) {
  margin-right: 8px;
}
